._mobile {
  &-visible {
    @include no-mobile {
      display: none !important;
    }
  }

  &-hidden {
    @include mobile {
      display: none !important;
    }
  }
}

._smallTablet {
  &-visible {
    display: none;

    @include smallTablet-and-mobile {
      display: block !important;
    }
  }

  &-hidden {
    display: block;

    @include smallTablet-and-mobile {
      display: none;
    }
  }
}

._tablet {
  &-visible {
    display: none;

    @include tablet-and-mobile {
      display: block !important;
    }
  }

  &-hidden {
    display: block;

    @include tablet-and-mobile {
      display: none;
    }
  }
}

.link-primary {
  color: $color-primary;

  &:hover {
    color: $color-primary-hover;
  }
}

.main-title {
  display: block;
  margin: 0;
  @include title-h1;
  text-align: center;
}

.js-scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 10;
  display: flex;
  width: 40px;
  height: 40px;
  color: $color-white;
  visibility: hidden;
  opacity: 0;
  cursor: pointer;
  transition: all 350ms ease;
  background-color: rgba(black, 0.6);
  border-radius: 50%;
  -webkit-tap-highlight-color: transparent;

  &:hover,
  &:focus {
    background-color: rgba(black, 0.8);
  }

  &::after {
    display: block;
    margin: auto;
    content: '';
    @include sprite('up');
    transform: translateY(-25%);
  }

  &.active {
    visibility: visible;
    opacity: 1;
    backdrop-filter: blur(4px);
  }
}
