.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include smallTablet-and-mobile {
    flex-direction: column;
  }

  &__link {
    display: block;
    @include font-base(700);
    letter-spacing: 2px;
    text-transform: uppercase;

    &:hover {
      color: $color-primary;
    }

    &--current {
      color: $color-primary;

      &:hover {
        color: $color-primary-hover;
      }
    }
  }
}
