.pagination {
  display: flex;
  align-items: center;
  justify-items: center;
  align-content: center;
  margin: 0 auto;

  &__item {
    margin: 0 15px;
    letter-spacing: 2px;
    text-transform: uppercase;

    @include mobile {
      margin: 0 15px;
    }

    @include mobile320 {
      margin: 0 10px;
    }
  }

  &__link {
    display: block;
    @include font-base(bold);

    @include mobile {
      @include font-small(bold);
    }

    .active & {
      color: $color-primary;
    }

    &:hover {
      color: $color-primary;
    }
  }
}
