<div class="search-aside__results collapse js-mobile-collapse active">
  <div class="search-aside__total-wrapper">
    <button class="search-aside__total collapse-btn" type="button">
      <span class="search-aside__total-counts">1234</span>
      Results found
    </button>
  </div>
  <div class="collapse-content">
    <ul class="search-results">
      <li class="search-results__item">
        <div class="search-results__label">Fashion</div>
        <div class="search-results__counts">152</div>
      </li>
      <li class="search-results__item">
        <div class="search-results__label">Culture</div>
        <div class="search-results__counts">34</div>
      </li>
      <li class="search-results__item">
        <div class="search-results__label">Art</div>
        <div class="search-results__counts">134</div>
      </li>
    </ul>
  </div>
</div>
