<section class="section section-intro">
  <div class="section__container container">
    <header class="section-intro__header section-intro__header--reports">
      <span class="section-intro__label"><a href="fashion.html">Fashion</a></span>
      <span class="section-intro__title">Various versions have evolved over the years, sometimes by accident</span>
    </header>
    <div class="section-intro__content publication">
      <ul class="publication__tags card-tags card-tags--normal">
        <li class="card-tags__item">
          <a class="card-tags__link" href="#">#Paris Fashion Week</a>
        </li>
        <li class="card-tags__item">
          <a class="card-tags__link" href="#">#New York FW</a>
        </li>
        <li class="card-tags__item">
          <a class="card-tags__link" href="#">#London FW</a>
        </li>
        <li class="card-tags__item">
          <a class="card-tags__link" href="#">#Milan FW</a>
        </li>
        <li class="card-tags__item">
          <a class="card-tags__link" href="#">#Louis Vuitton</a>
        </li>
      </ul>
      <p class="publication__info">
        TV Host <span class="publication__info-name">Fashion</span>
      </p>
      <p class="publication__info">
        Cameraman <span class="publication__info-name">Emery Phillips</span>
      </p>
      <div class="publication__date card-pubdate">
        <time class="card-pubdate__time" datetime="2020-05-21">March 21, 2020</time>
      </div>
      <div class="publication__sharing">
        <span>Share</span>
        {{> blocks/common/sharing}}
      </div>
    </div>
  </div>
</section>
