{{#> blocks/common/base section-mode="section-base--report"}}
  <div class="section-video-report">
    <div class="card card--video-report">
      <div class="card__image card__image--video">
        <a data-lity href="https://www.youtube.com/watch?v=llyIkmJIT4Q&t=56s" class="card__link card__image-link">
          {{> components/image img="video/01" ext="jpg"}}
          <div class="card__video-btn">
            {{>ui/svg name="play"}}
          </div>
        </a>
      </div>
    </div>
    <div class="static">
      <p>
        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin
        literature from 45 BC, making it over 2000 years old.
        <br><br>
        Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more
        obscure.Contrary to popular belief, Lorem Ipsum is not simply random text.
      </p>
    </div>
  </div>
{{/blocks/common/base}}
