<section class="section section-base js-section-contacts">
  <div class="section__container container">
    <span class="main-title js-section-contacts__title" data-success-title="Thank You!">Contacts</span>

    <div class="grid grid-contacts js-section-contacts__grid">
      <div class="grid-contacts__info">
        <p class="grid-contacts__text">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
          when an unknown printer took a galley of type and scrambled it
          to make a type specimen book.
        </p>
      </div>
      <div class="grid-contacts__address static-address">
        {{>blocks/common/address}}
      </div>
      <div class="grid-contacts__form">
        <form class="form js-contacts-form" data-api-url="location.href">
          <div class="form-wrapper">
            <div class="form-wrapper__row">
              <input class="form-input" type="text" name="contactsName" placeholder="Name" autocomplete="off"
                     data-validation="isNotEmpty">
            </div>
            <div class="form-wrapper__row">
              <input class="form-input" type="email" name="contactsEmail" placeholder="Email" inputmode="email"
                     autocomplete="off" data-validation="isNotEmpty,isValidEmail">
            </div>
          </div>
          <div class="form-row">
            <input class="form-input" type="text" name="contactsSubject" placeholder="Subject" autocomplete="off"
                   data-validation="isNotEmpty">
          </div>
          <div class="form-row">
            <textarea class="form-area" name="contactsMessage" id="" cols="30" rows="5" placeholder="Message"
                      data-validation="isNotEmpty"></textarea>
          </div>
          <div class="form-row">
            <button class="form-button" type="submit">Submit</button>
          </div>
        </form>
      </div>
      <div class="grid-contacts__success">
        <p class="grid-contacts__text">Your message has been successfully sent.<br>We will contact you very soon.
          <button class="btn grid-contacts__btn" type="button" data-success-button>Back</button>
        </p>
      </div>
    </div>
  </div>
</section>
