{{#> blocks/common/base title="Fashion" href="fashion.html"}}
  <section class="section-slider swiper-container js-slider-home">
    <ul class="grid grid--four swiper-wrapper">
      {{> blocks/common/card card=cards.home.fashion}}
    </ul>
    <div class="_mobile-visible swiper-pagination"></div>
  </section>
{{/blocks/common/base}}
