{{#> blocks/common/base title="Preview" href="preview.html"}}
  <section class="section-slider swiper-container js-slider-home">
    <ul class="grid grid--three-preview swiper-wrapper">
      {{> blocks/common/card card=cards.home.preview}}
    </ul>
    <div class="_mobile-visible swiper-pagination"></div>
  </section>
{{/blocks/common/base}}
