<ul class="menu">
  <li class="menu__item">
    <a href="fashion.html" class="menu__link{{#ifCond current 'Fashion'}} menu__link--current{{/ifCond}}">fashion</a>
  </li>
  <li class="menu__item">
    <a href="culture.html" class="menu__link{{#ifCond current 'Culture'}} menu__link--current{{/ifCond}}">culture</a>
  </li>
  <li class="menu__item">
    <a href="art.html" class="menu__link{{#ifCond current 'Art'}} menu__link--current{{/ifCond}}">art</a>
  </li>
  <li class="menu__item">
    <a href="preview.html" class="menu__link{{#ifCond current 'Preview'}} menu__link--current{{/ifCond}}">preview</a>
  </li>
  <li class="menu__item">
    <a href="contributors.html" class="menu__link{{#ifCond current 'Contributors'}} menu__link--current{{/ifCond}}">contributors</a>
  </li>
  <li class="menu__item">
    <a href="contacts.html" class="menu__link{{#ifCond current 'Contacts'}} menu__link--current{{/ifCond}}">contacts</a>
  </li>
</ul>
