{{#> blocks/common/base title=title href="preview.html" related=true section-mode="section--bg" }}
  <section class="section-slider section-slider--no-gutters swiper-container js-slider-related">
    <ul class="grid grid-related swiper-wrapper">
      {{> blocks/common/card card=card-related}}
    </ul>
    <div class="_mobile-visible swiper-pagination"></div>
  </section>
{{/blocks/common/base}}
