{{# preview }}
  <button class="tabs__item js-tab" data-target=".tab-all">All events</button>
  <button class="tabs__item js-tab" data-target=".tab-1">Upcoming</button>
  <button class="tabs__item js-tab" data-target=".tab-2">Past</button>
{{else}}
  <button class="tabs__item js-tab" data-target=".tab-all">All reports</button>
  <button class="tabs__item js-tab" data-target=".tab-1">Photo</button>
  <button class="tabs__item js-tab" data-target=".tab-2">Video</button>
{{/preview}}
