// Colors
$color-primary: #E02345;
$color-primary-hover: #F72147;
$color-secondary: #333333;

$color-darkgrey: #757575;
$color-grey: #BDBDBD;
$color-lightgrey: #F6F6F6;
$color-white: #FFFFFF;

$color-error: red;
