</main>

<footer class="footer page__footer">
  <div class="footer__container container">
    <div class="footer__content">
      <div class="footer__top">
        <nav class="footer__nav">
          {{>blocks/common/menu current=current}}
        </nav>
      </div>
      {{>blocks/footer/bottom}}
    </div>
  </div>
</footer>

</div>

{{> layout/bottom}}
