<address>
  <ul>
    <li>
      <i class="icon--email"></i>
      <b>Email:</b>
      <a href="mailto:info@backstage.com">info@backstage.com</a>
    </li>
    <li>
      <i class="icon--phone"></i>
      <b>Phone:</b>
      <a href="tel:+33678777716">+33 6 78 77 77 16</a>
    </li>
    <li>
      <i class="icon--location"></i>
      <a href="https://goo.gl/maps/eyo4deFDEwpBm6gdA" target="_blank"><b>Saint-Ouen 23, Paris, France</b></a>
    </li>
  </ul>
</address>
