<section class="section-tabs section-tabs--preview">
  {{#if card-preview}}
    <ul class="grid grid-intro{{#if mode}} grid-intro--{{mode}}{{/if}}">
      {{> blocks/common/card card=card-preview}}
    </ul>
  {{/if}}
  {{#if no-dropdown}}
  {{else}}
    {{> blocks/common/dropdown dropdown-item=dropdown-item no-tags=no-tags}}
  {{/if}}
  <ul class="grid grid-reports{{#if preview}} grid-reports--preview{{/if}}">
    {{> blocks/common/card card=card-content}}
  </ul>
</section>
