<ul class="sharing-list js-sharing-section">
  <li class="sharing-list__item">
    <button class="js-social-share" data-action="twitter" type="button">
      {{>ui/svg name="twitter"}}
    </button>
  </li>
  <li class="sharing-list__item">
    <button class="sharing-list__icon" data-action="pinterest">
      {{>ui/svg name="pinterest"}}
    </button>
  </li>
  <li class="sharing-list__item">
    <button class="js-social-share" data-action="facebook" type="button">
      {{>ui/svg name="facebook"}}
    </button>
  </li>
</ul>
