<ul class="socials">
  {{#each links.socials}}
    <li class="socials__item">
      <a href="{{this.url}}" class="socials__link socials__link--{{this.class}}" target="_blank" aria-label="Link to {{this.class}}"></a>
    </li>
  {{/each}}
</ul>
