<section class="section section-intro section-intro--reports">
  <div class="section__container container">
    <header class="section__header">
      <span class="section-intro__label"><a href="preview.html">Preview</a></span>
      <span class="section-intro__title">Balmain contrary to popular belief, Lorem&nbsp;Ipsum is not simply</span>
    </header>
  </div>
</section>
