<div class="ui__colors">
  <div class="_item">
    <span>$color-primary</span>
    <div class="_demo" style="background-color: #E63737">
      <span>#E63737</span>
    </div>
  </div>

  <div class="_item">
    <span>$color-secondary</span>
    <div class="_demo" style="background-color: #333333">
      <span>#333333</span>
    </div>
  </div>
</div>
