<header class="header page__header js-header">
  <div class="header__container container">
    <div class="header__content">
      <div class="header__logo">
        {{#ifCond current-page 'Home'}}
          {{>ui/svg name="logo"}}
        {{else}}
          <a href="{{links.home.url}}" class="header__logo-link">
            {{>ui/svg name="logo"}}
          </a>
        {{/ifCond}}
      </div>
      <div class="header__menu-toggler _smallTablet-visible">
        <button class="menu-toggler js-mobile-menu" type="button">
          <span class="menu-toggler__item"></span>
          <span class="menu-toggler__item"></span>
          <span class="menu-toggler__item menu-toggler__item--small"></span>
        </button>
      </div>
      <div class="header__menu header-menu">
        <div class="header-menu__container js-menu-container">
          <div class="header-menu__content js-menu-content">
            <nav class="header-menu__nav">
              {{>blocks/common/menu menu=links.footer-menu current=current}}
            </nav>
            <div class="header-menu__search">
              <form class="header-menu__form{{#if disabled}} form-disabled{{/if}}">
                {{>ui/input
                        name="search"
                        placeholder="Search"
                        icon="search"
                        aria-label="Search on the page"
                        disabled=disabled
                }}
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<main class="page__content{{#ifCond current-page 'Home'}} page__content--home{{/ifCond}}">
