{{#> blocks/common/base reports=true}}
  <div class="section-reports js-tabs">
    <div class="section-reports__tabs tabs">
      {{> blocks/common/tabs preview=true}}
    </div>
    <div class="tab-all tab-content js-tab-content">
      {{> blocks/common/grid-report
              no-tags=true
              preview=true
              mode='preview'
              dropdown-item='preview'
              card-preview=cards.preview.all.preview
              card-content=cards.preview.all.content
      }}
    </div>
    <div class="tab-1 tab-content js-tab-content">
      {{> blocks/common/grid-report
              no-tags=true
              preview=true
              dropdown-item='preview'
              card-preview=cards.preview.all.preview
              card-content=cards.preview.all.content
      }}
    </div>
    <div class="tab-2 tab-content js-tab-content">
      {{> blocks/common/grid-report
              no-tags=true
              preview=true
              dropdown-item='preview'
              card-preview=cards.preview.all.preview
              card-content=cards.preview.all.content
      }}
    </div>
  </div>
  <div class="section__pagination">
    {{>blocks/common/pagination}}
  </div>
{{/blocks/common/base}}
