.filters {
  &__container {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @include mobile {
      flex-direction: column;
    }
  }

  &__item {
    flex: 0 0 215px;
    padding: 0 15px;
    border-right: 1px solid $color-secondary;
    border-left: 1px solid $color-secondary;

    @include mobile {
      padding: 0;
      flex: auto;
      width: 100%;
      border-left: none;
      border-right: none;
      border-top: 1px solid $color-secondary;
      border-bottom: 1px solid $color-secondary;
    }

    &:first-child {
      padding-left: 0;
      border-left: none;

      @include mobile {
        padding-bottom: 10px;
        border-top: none;
      }
    }

    &:last-child {
      padding-right: 0;
      border-right: none;

      @include mobile {
        padding-top: 10px;
        border-bottom: none;
      }
    }
  }
}
