.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;

  &-item__arrow {
    margin-top: 15px;
  }

  @include mobile {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

    &.swiper-wrapper {
      display: flex;
    }
  }

  &--two {
    grid-template-columns: repeat(2, 1fr);

    @include mobile {
      display: grid;
      grid-template-columns: 1fr;
    }
  }

  &--three {
    &-preview {
      .card__image-link {
        padding-top: 66.55%;
      }
    }
  }

  &--four {
    > :first-child {
      grid-column: -1 / 1;

      @include mobile {
        grid-column: auto;
      }
    }
  }

  &--five {
    @include smallTablet {
      grid-template-columns: repeat(2, 1fr);
    }

    > :first-child {
      grid-column-end: span 2;

      @include smallTablet {
        grid-column: -1 / 1;
      }

      @include mobile {
        grid-column-end: auto;
      }
    }
  }

  &-reports {
    display: grid;
    grid-template-columns: 1fr;
    gap: 120px;

    @include smallTablet-and-mobile {
      gap: 60px;
    }

    &__item {
      position: relative;
      list-style-type: none;

      @include no-mobile {
        &:nth-child(odd) {
          .card__image {
            max-width: 100%;

            &-link {
              padding-top: 66.229%;
            }
          }
        }
      }
    }

    &__link {
      display: inline-flex;
      align-items: center;

      &:hover {
        .icon {
          transform: translateX(5px);
        }
      }

      .icon {
        transition: transform 350ms ease;
      }
    }

    &__arrow {
      display: flex;
      align-items: center;

      @include no-mobile {
        position: absolute;
      }
    }

    .card {
      &__container {
        display: grid;
        gap: 50px;
        grid-template-columns: 295px 1fr;
        grid-template-areas: 'info image';

        @include smallTablet-and-mobile {
          grid-template-areas: 'image' 'info';
          grid-template-columns: 1fr;
        }

        @include mobile {
          gap: 10px;
        }
      }

      &__image {
        grid-area: image;
        max-width: 500px;

        &-link {
          @include no-mobile {
            padding-top: 66%;
          }
        }
      }

      &__info {
        grid-area: info;

        > *:not(:first-child) {
          margin-top: 15px;
        }
      }

      &__label {
        margin-top: 0;
      }

      &__title {
        margin-top: 5px;
        @include title-h3;
      }

      &-event__location + .card-event__date {
        margin-top: 5px;
      }

      &-event__link,
      &-tags__link,
      &-pubdate__time,
      &__label {
        @include no-mobile {
          @include font-base();
        }
      }

      &__video-btn {
        @include no-mobile {
          bottom: 30px;
          left: 30px;

          .icon {
            width: 48px;
            height: 48px;
          }
        }
      }
    }

    &--preview {
      gap: 60px;

      .grid-reports__item {
        &:nth-child(odd) {
          .card__image-link {
            @include no-mobile {
              padding-top: 66%;
            }
          }
        }
      }

      .card {
        &__container {
          grid-template-columns: repeat(2, minmax(320px, 500px));
          gap: 180px;

          @include tablet {
            grid-template-columns: repeat(2, minmax(320px, 1fr));
            gap: 60px;
          }

          @include smallTablet-and-mobile {
            grid-template-columns: 1fr;
            gap: 10px;
          }
        }

        &__image {
          max-width: 100%;

          &-link {
            @include mobile {
              padding-top: 66.57%;
            }

            @include smallTablet {
              padding-top: 54.45% !important;
            }
          }
        }
      }

      .grid-reports__arrow {
        @include mobile {
          margin-top: 25px;
        }
      }
    }
  }

  &-intro {
    display: grid;
    gap: 40px;
    margin-bottom: 60px;

    .card {
      &__video-btn {
        @include no-mobile {
          bottom: 30px;
          left: 30px;

          .icon {
            width: 48px;
            height: 48px;
          }
        }
      }
    }

    + * {
      @include no-mobile {
        margin-top: 60px;
      }
    }

    > * {
      grid-column: -1 / 1;

      @include mobile {
        grid-column: auto;

        .card__title {
          @include title-h3;
        }
      }
    }

    .grid-reports__arrow {
      @include mobile {
        margin-top: 25px;
      }
    }

    &--preview {
      .card__image-link {
        @include mobile {
          padding-top: 66.57%;
        }
      }
    }
  }

  &-aside {
    display: grid;
    grid-template-columns: 280px 1fr;
    grid-template-areas: 'title form' 'aside content';
    gap: 40px;

    @include tablet-and-mobile {
      grid-template-columns: 1fr;
    }

    @include mobile {
      grid-template-areas: 'form' 'aside' 'content';
      gap: 30px;
    }

    &__header {
      grid-area: title;
    }
  }

  &-search {
    grid-template-columns: 1fr;
    gap: 60px;

    .card {
      &__container {
        display: grid;
        grid-template-columns: 1fr 500px;
        grid-template-areas: 'info image';
        gap: 50px;

        @include tablet-and-mobile {
          grid-template-columns: 1fr;
          grid-template-areas: 'image' 'info';
          gap: 15px;
        }

        @include mobile {
          gap: 10px;
        }
      }

      &__label {
        margin-top: 0;
      }

      &__image {
        grid-area: image;

        &-link {
          @include no-mobile {
            padding-top: 66%;
          }
        }
      }

      &__info {
        grid-area: info;

        > *:not(:first-child) {
          margin-top: 15px;
        }
      }

      &__title {
        @include no-mobile {
          @include title-h3;
        }
      }

      &-event__link,
      &-tags__link,
      &-pubdate__time,
      &__label {
        @include no-mobile {
          @include font-base();
        }
      }

      &__video-btn {
        @include no-mobile {
          bottom: 30px;
          left: 30px;

          .icon {
            width: 48px;
            height: 48px;
          }
        }
      }
    }
  }

  &-event {
    display: grid;
    grid-template-columns: 1fr;

    .card {
      &__container {
        display: grid;
        grid-template-areas: 'event image' 'info image' '... image';
        grid-template-columns: 415px 1fr;
        gap: 40px 60px;

        @include tablet {
          grid-template-columns: 1fr 2fr;
          grid-template-areas: 'event image' 'info image';
        }

        @include smallTablet-and-mobile {
          grid-template-areas: 'event' 'image' 'info';
          grid-template-columns: 1fr;
          gap: 20px;
        }
      }

      &__event-text {
        grid-area: event;
        @include font-base();

        @include mobile {
          margin-bottom: 20px;
        }
      }

      &__text {
        + .card__text {
          margin-top: 10px;
          @include mobile {
            margin-top: 20px;
          }
        }
      }

      &__info {
        grid-area: info;

        > *:not(:first-child) {
          margin-top: 15px;
        }
      }

      &__image {
        grid-area: image;

        &-link {
          padding-top: 66%;
        }
      }

      &-event__link,
      &-tags__link,
      &-pubdate__time,
      &__label,
      &__text {
        @include no-mobile {
          @include font-base();
        }
      }
    }
  }

  &-related {
    .card__image-link {
      @include no-mobile {
        padding-top: 56.5%;
      }
    }
  }

  &-contacts {
    grid-template-areas: 'text form' 'address form';
    grid-template-columns: 430px 1fr;
    gap: 100px;

    @include smallTablet-and-mobile {
      grid-template-areas: 'text' 'form' 'address';
      grid-template-columns: 1fr;
      gap: 40px;
    }

    &__success {
      display: none;
      width: 100%;
    }

    &__text {
      grid-area: text;
      @include font-base();
      margin-top: 9.5px;

      @include mobile {
        margin: 0;
      }
    }

    &__address {
      grid-area: address;

      @include mobile {
        margin-top: 20px;
      }
    }

    &__form {
      grid-area: form;

      .form-row:last-child {
        margin-top: 40px;
      }
    }

    &.grid-contacts--success {
      grid-template-areas: '';
      grid-template-columns: 1fr;
      align-items: center;
      justify-items: center;
      gap: 0;

      .grid-contacts__info,
      .grid-contacts__address,
      .grid-contacts__form {
        display: none;
      }

      .grid-contacts__success {
        display: block;

        > :first-child {
          margin: 0;
          text-align: center;
        }
      }

      .grid-contacts__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 140px;
        margin: 30px auto 0;

        @include mobile {
          max-width: 100%;
          margin-top: 40px;
        }

        ._loading & {
          position: relative;
          color: transparent;

          &:before {
            position: absolute;
            top: calc(50% - 10px);
            left: calc(50% - 10px);
            content: '';
            display: block;
            width: 20px;
            height: 20px;
            margin: 0 auto 10px;
            border: 2px solid #f5f5f5;
            border-top: 3px solid $color-secondary;
            border-radius: 100%;
            animation: spin 1s linear infinite;
          }
        }
      }
    }
  }
}
