.publication {
  display: grid;
  gap: 10px;
  align-items: center;
  justify-items: center;

  * {
    @include font-base();

    @include mobile {
      @include font-small;
    }
  }

  > * {
    margin-top: 0;
  }

  &__tags {
    @include mobile {
      text-align: center;
    }
  }

  &__info {
    color: $color-darkgrey;

    &-name {
      color: $color-secondary;
      font-weight: 600;
    }
  }

  &__sharing {
    display: flex;
    margin-top: 20px;
    color: $color-darkgrey;

    span {
      font-weight: 600;
    }
  }
}
