.sharing-list {
  display: flex;
  align-items: center;
  margin-left: 20px;

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;

    &:not(:first-child) {
      margin-left: 10px;
    }

    a, button {
      display: flex;
      align-items: center;
    }

    .icon {
      color: $color-secondary;
      transition: 350ms ease;

      &-twitter:hover {
        color: #03A9F4;
      }

      &-facebook:hover {
        color: #4267B2;
      }

      &-pinterest:hover {
        color: #BD081C;
      }
    }
  }

  &__icon {
    position: relative;
    cursor: pointer;

    &[data-pin-custom] {
      &::after {
        content: '';
        @include fill;
        background: url("../assets/images/sharing/pinterest-dark.svg") center center no-repeat;
        background-size: contain;
        transition: all 350ms ease;
      }

      img {
        opacity: 0;
        transition: all 350ms ease;
      }

      &:hover {
        &::after {
          opacity: 0;
        }

        img {
          opacity: 1;
        }
      }
    }
  }

  &__twitter {
    &::after {
      content: '';
      @include sprite('twitter');
      filter: grayscale(1) hue-rotate(1deg);
    }
  }

  &__facebook {
    &::after {
      content: '';
      @include sprite('facebook');
      filter: grayscale(1) hue-rotate(1deg);
    }
  }

  &__pinterest {
    &::after {
      content: '';
      @include sprite('pinterest');
      filter: grayscale(1) hue-rotate(1deg);
    }
  }
}
