.socials {
  display: flex;

  @include smallTablet-and-mobile {
    flex-direction: row-reverse;
  }

  &__item {
    @include no-mobile {
      &:not(:last-child) {
        margin-right: 21px;
      }
    }

    @include smallTablet-and-mobile {
      &:not(:first-child) {
        margin-right: 21px;
      }
    }
  }

  &__link {
    display: block;

    &::after {
      content: '';
    }

    &--youtube {
      &::after {
        @include sprite('youtube');
      }
    }

    &--instagram {
      &::after {
        @include sprite('instagram');
      }
    }
  }
}
