<div class="footer__bottom js-footer-bottom">
  <div class="footer__credits"><a href="{{links.privacy.url}}">We respect your privacy</a></div>
  <div class="footer__copy">© Backstage 2020</div>
  <div class="footer__socials">
    <div class="footer__dev">Developed&nbsp;by&nbsp;<a href="{{links.privacy.url}}">Agente</a></div>
    {{>blocks/common/socials}}
  </div>
</div>
