{{#> blocks/common/base single=true}}
  <div class="privacy-wrapper">
    <div class="static static--privacy">
      <h3>Which Information Do We Collect, Process, and Store?</h3>
      <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin
        literature from 45 BC, making it over 2000 years old.</p>
      <p>
        Lorem Ipsum is not simply random text. <a href="#">Link to another document.</a> But Lorem ipsum dolor sit amet,
        consectetur adipisicing elit. Cupiditate deserunt ea earum in magni, praesentium quibusdam reiciendis repellat
        sit ullam. <a href="mailto:test@ozitag.com">Link to email.</a> Lorem ipsum dolor sit amet, consectetur adipisicing
        elit. Accusamus, nemo. <a href="tel:+123456789">123-456-789</a>
      </p>
      <p>Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more
        obscure.Contrary to popular belief, Lorem Ipsum is not simply random text.</p>
      <h3>Why Do We Collect, Process, and Store This Information?</h3>
      <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in
        some form, by injected humour, or randomised words which don't look even slightly believable. If you are going
        to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of
        text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this
        the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful
        of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is
        therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
      <h3>How do we recieve consent? </h3>
      <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin
        literature from 45 BC, making it over 2000 years old.</p>
      <p>Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more
        obscure.Contrary to popular belief, Lorem Ipsum is not simply random text.</p>
      <h3>Will your personal data be disclosed to third parties? </h3>
      <p><i>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in
        some form, by injected humour, or randomised words which don't look even slightly believable. If you are going
        to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of
        text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this
        the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful
        of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is
        therefore always free from repetition, injected humour, or non-characteristic words etc.</i></p>
      <h3>Cookies</h3>
      <p><b>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in
        some form, by injected humour, or randomised words which don't look even slightly believable. If you are going
        to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of
        text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this
        the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful
        of model sentence structures, to generate Lorem Ipsum which looks reasonable.</b> The generated Lorem Ipsum is
        therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
      <h3>Questions and Contact Information</h3>
      <p>You <b>may send any questions</b> or <i>withdraw your consent to contact you</i>, collect, process, store, or
        disclose your
        information at any convenient time. Just contact us</p>
      <ul>
        <li>Comply with a legal obligation</li>
        <li>Protect and defend the rights or property of the Company</li>
        <li>Prevent or investigate possible wrongdoing in connection with the Service</li>
        <li>Protect the personal safety of Users of the Service or the public</li>
        <li>Protect against legal liability</li>
      </ul>
      <ol>
        <li>Comply with a legal obligation</li>
        <li>Protect and defend the rights or property of the Company</li>
        <li>Prevent or investigate possible wrongdoing in connection with the Service</li>
        <li>Protect the personal safety of Users of the Service or the public</li>
        <li>Protect against legal liability</li>
      </ol>

      {{>blocks/common/address}}
    </div>
  </div>
{{/blocks/common/base}}
