.btn {
  display: inline-block;
  padding: 9px 40px;
  min-width: 140px;
  color: $color-darkgrey;
  @include font-base(600);
  text-align: center;
  vertical-align: middle;
  border: 2px solid $color-darkgrey;
  cursor: pointer;
  transition: all 350ms ease;

  &:hover {
    color: $color-secondary;
    border-color: $color-secondary;
  }

  @include mobile {
    width: 100%;
  }

  &-primary {
    background-color: $color-primary;
    border-color: $color-primary;
    color: #ffffff;

    &:hover {
      background-color: $color-primary-hover;
      border-color: $color-primary-hover;
      color: #ffffff;
    }

    &:disabled,
    &.disabled {
      background-color: $color-primary;
      border-color: $color-primary;
      color: #ffffff;
    }
  }

  &-primary-outline {
    background-color: transparent;
    border-color: $color-primary;
    color: $color-primary;

    &:hover {
      background-color: $color-primary-hover;
      border-color: $color-primary-hover;
      color: #ffffff;
    }

    &:disabled,
    &.disabled {
      background-color: $color-primary;
      border-color: $color-primary;
      color: #ffffff;
    }
  }

  &-secondary {
    background-color: $color-secondary;
    border-color: $color-secondary;
    color: #ffffff;

    &:hover {
      background-color: darken($color-secondary, 5%);
      border-color: darken($color-secondary, 5%);
      color: #ffffff;
    }

    &:disabled,
    &.disabled {
      background-color: $color-secondary;
      border-color: $color-secondary;
      color: #ffffff;
    }
  }

  &-secondary-outline {
    min-width: 100px;
    padding: 5px 25px;
    color: $color-darkgrey;
    font-weight: 600;
    background-color: transparent;
    border-color: $color-darkgrey;

    &:hover {
      background-color: $color-secondary;
      border-color: $color-secondary;
      color: #ffffff;
    }

    &:disabled,
    &.disabled {
      background-color: $color-darkgrey;
      border-color: $color-darkgrey;
      color: #ffffff;
    }
  }

  &-small {
    font-size: 14px;
    line-height: 18px;
    padding: 8px 15px;
  }

  &-large {
    font-size: 18px;
    line-height: 24px;
    padding: 19px 40px;
  }

  &-w100 {
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
  }

  &:disabled,
  &.disabled {
    cursor: default;
    opacity: 0.65;
    pointer-events: none;
  }

  &-preview {
    min-width: 100px;
    padding: 5px 25px;
    color: $color-darkgrey;
    font-weight: 600;
    border: 2px solid $color-darkgrey;

    &:hover {
      color: $color-secondary;
      border-color: $color-secondary;
    }

    @include mobile {
      padding: 8px 25px;
    }
  }
}

@keyframes clockwise {
  to {
    transform: rotate(360deg) translatez(0);
  }
}
