{{#> blocks/common/base section-mode="section-search"}}
  <div class="grid-aside">
    <div class="grid-aside__header _mobile-hidden">
      <span class="search-aside__title">Search</span>
    </div>

    <aside class="search-aside">
      {{> blocks/search/aside }}
    </aside>

    <form class="search-form js-search-form">
      <div class="search-form__row">
        <label class="search-form__label">
          <input type="text" class="search-form__input" name="search-content" placeholder="Search" autocomplete="off">
          <button class="search-form__btn search-form__btn--reset" type="reset" aria-label="Reset search results.">
            {{>ui/svg name="reset"}}
          </button>
          <button class="search-form__btn search-form__btn--search" type="submit" aria-label="Search.">
            {{>ui/svg name="search"}}
          </button>
        </label>
      </div>
    </form>

    <section class="search-content">
      {{> blocks/search/content }}
    </section>
  </div>
  <div class="section__pagination">
    {{>blocks/common/pagination}}
  </div>
{{/blocks/common/base}}
