{{#> blocks/common/base title="Art" href="art.html"}}
  <section class="section-slider swiper-container js-slider-home">
    <ul class="grid grid--five swiper-wrapper">
      {{> blocks/common/card card=cards.home.art}}
    </ul>
    <div class="_mobile-visible swiper-pagination"></div>
  </section>
{{/blocks/common/base}}
