.idea

# Application
/bin/
/public/build/
/public/wp-content/cache/*
!/public/wp-content/cache/.gitkeep
/public/wp-content/db.php
/public/wp-content/languages/*
!/public/wp-content/languages/.gitkeep
/public/wp-content/mu-plugins/*/

/public/wp-content/uploads/*
!/public/wp-content/uploads/.gitkeep

/public/wp-content/plugins/*
!/public/wp-content/plugins/.gitkeep
!/public/wp-content/plugins/advanced-custom-fields-pro/

/public/wp-content/upgrade/*
!/public/wp-content/upgrade/.gitkeep

# WordPress
/public/wp/
/public/.htaccess
/public/sitemap*.xml
/public/sitemap*.xml.gz

# Dotenv
/.env

# Composer
/vendor/*
!/vendor/.gitkeep

# WP-CLI
wp-cli.local.yml
