.form {
  &-field {
    position: relative;
  }

  &-row {
    position: relative;
    margin-bottom: 35px;

    &--btn {
      margin-bottom: 0;
      margin-top: 30px;
      text-align: right;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 35px;

    @include mobile {
      display: block;
    }

    > * {
      &:not(:nth-child(2n)) {
        margin-right: 40px;

        @include mobile {
          margin: 0 0 30px;
        }
      }

      &:nth-child(2) ~ .form-wrapper__row {
        margin-top: 35px;
        max-width: 305px;
      }
    }

    &__row {
      position: relative;
      flex: 1 1 40%;
      max-width: 50%;

      @include mobile {
        max-width: 100%;
      }
    }
  }

  &-label {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 10px;
    font-size: 13px;
    @include bold;
  }

  &-input,
  &-area {
    display: block;
    padding: 10px 0;
    min-height: 40px;
    width: 100%;
    @include font-base(600);
    background: none;
    border: none;
    border-bottom: 2px solid $color-secondary;
    transition: all 350ms ease;

    &:placeholder-shown {
      border-color: $color-grey;
    }

    &:focus {
      border: none;
      border-bottom: 2px solid $color-secondary;
    }

    @include smallTablet-and-mobile {
      max-width: 100%;
      margin-right: 0;
      padding-right: 0;
      padding-left: 0;
      border-radius: 0;
    }

    @include placeholder {
      color: $color-darkgrey;

      @include smallTablet-and-mobile {
        color: $color-darkgrey;
        @include font-base(600);
      }
    }
  }

  &-area {
    max-height: 90px;
    @include font-base();
    resize: none;

    @include placeholder {
      padding-top: 2.5px;
    }
  }

  &-button {
    min-width: 140px;
    padding: 11px 40px;
    @include font-base(600);
    color: $color-white;
    background-color: $color-primary;
    border: none;
    outline: none;
    transition: all 350ms ease;

    &:hover {
      background-color: $color-primary-hover;
    }

    @include mobile {
      width: 100%;
    }

    ._loading & {
      position: relative;
      color: transparent;

      &:before {
        position: absolute;
        top: calc(50% - 10px);
        left: calc(50% - 10px);
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        margin: 0 auto 10px;
        border: 2px solid #f5f5f5;
        border-top: 3px solid $color-primary;
        border-radius: 100%;
        animation: spin 1s linear infinite;
      }
    }
  }

  &-error {
    > * {
      border-color: $color-primary;

      &:focus {
        border-color: $color-primary;
      }

      &:placeholder-shown {
        border-color: $color-primary;
      }
    }
  }

  &-message {
    @include font-base(600);
    position: absolute;
    top: 100%;
    margin-top: 10px;
    color: $color-primary;
    right: 0;
    border-color: $color-primary;
  }

  &-disabled {
    .form-input {
      border-color: rgba($color-darkgrey, 0.3) !important;
    }

    .form-btn-search {
      opacity: 0.3;
      pointer-events: none;
    }
  }

  &-btn-search {
    @include mobile {
      display: flex;
      align-items: center;
      justify-content: center;

      .icon {
        max-width: 22px;
        max-height: 22px;
      }
    }
  }
}
